body{
    background-color: seagreen;
    margin: 0px;
    padding: 0;
    height: 1000px;
}
.pai{
    width: 300px;
    height: 300px;
}
.filho{
    width: 150px;
    height: 150px;
}

/*Estatico*/
.p-estatico{
    position: static;
    background-color: blueviolet;
}
.f-estatico{
    position: static;
    background-color:darkgrey;
}

/*fixed*/

.p-fixed{
    background-color: aqua;
    position: fixed;
    right: 5%;
    bottom: 0%;
}
.f-fixed{
    background-color: firebrick;
    top: 20px;
    left: 30px;
}

/*stick*/

.p-stick{
    background-color: azure;
    position: sticky;
    margin: 100px 0 0 320px;
    top: 0;
    left: 0;
}

.f-stick{
    background-color: palevioletred;
    position: sticky;
    margin: 25%;
    top: 25%;
    left: 25%;
}

/*Relativo*/

.p-relative{
    background-color: darkorange;
    margin: 150px;
}

.f-relative{
    background-color: aquamarine;
    position: relative;
    left: 50px;
    top: 20px;
}

/*Absolute com pai static*/

.p-absolute-estatico{
    background-color:slateblue;
    margin-top: 200px;
}

.f-absolute-estatico{
    background-color: bisque;
    position: absolute;
    top: 20px;
    left: 50px;
}

/*Absolute com pai não static*/

.p-absolute-nao-estatico{
    background-color: tomato;
    position: relative;
    margin-top: 15px;
}

.f-absolute-nao-estatico{
    background-color: greenyellow;
    position: absolute;
    top: 20px;
    left: 50px;
}